.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    margin-top: 55px;
    width: 670px;
    margin-left: 29%;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .title {
    font-family: 'Poppins', sans-serif;
    color: #023436;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: 15px;
    font-size: 25px;
}

.titleSc {
    font-family: 'Poppins', sans-serif;
    color: #023436;
    font-weight: 700;
    font-size: 20px;
}

.information {
    margin-top: 10px;
    margin-left: 10px;
}
.paragraph {
    text-align: start;
    font-family: 'Poppins', sans-serif;
    color: #023436;
    font-weight: 500;
    margin-top: 15px;
}

