@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


.email, .password, .fullName, .contact, .dateOfBirth, .region{
    border: 1.6px solid #12AFB6;
    color: #12AFB6;
    margin: 5px;
    border-radius: 10px;
    width: 320px;
    height: 50px;
    padding: 15px;
    background-color: #C9E8EB;
    margin-top: 17px;
}
.email::placeholder, .fullName::placeholder , .contact::placeholder, .region::placeholder, .dateOfBirth::placeholder{
    color: #12AFB6;
    font-size: 15px;
    background-color: #C9E8EB;
    
}
.email:focus {
    font-size: 15px;
    color: #12AFB6;
    background-color: #C9E8EB;
}


.password::placeholder  {
    color: #12AFB6;
}


.button {
    border: none;
    color: #fff;
    background-color: #12AFB6;
    margin-top: 17px;
    border-radius: 10px;
    width: 320px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all ease 500ms;
}
.button:hover{
    transform: scale(1.01);
}

.error{
    color: red;
    font-weight: 500;
}

.title{
    color: var(--primary-dark, #023436);
    /* text-align: center; */
    font-size: 40px;
    font-family:Poppins;
    font-weight: 600;
}
.subtitle{
    color: var(--primary-dark, #023436);
    text-align: center;
    font-size: 24px;
    font-family: Poppins;
}

.icon{
    position: absolute;
    /* right:10px */
    left: 55.7%;
    top:64.5%;
    font-size: 25px;
}

.mainDiv{
    margin-top:72px;
    margin-right:250px;
}
