.container {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 160px;
    margin-left: 40px;
}

.aboutImage{
    width: 400px;
    height: 400px;
    margin-right: 20px;
}

.text{
    text-align: left;
    width: 350px;
    height: 300px;
    font-family: Poppins;
    font-size: 21px;
    font-weight: lighter;
    font-weight: 100;
    color: #023436;
}

.title {
    text-align: left;
    font-size: 30px;
    font-size: bold;
    font-weight: bold;
    padding-bottom: 20px;
}

.textContainer{
    margin-top: 37px;
}
.circle{
    position: absolute;
    width: 80px;
    top: 350px;
    right: 210px;
    transition: all ease-in-out 2000ms;
}

.circle:hover {
    transform: translate(40px, 40px);
}

.circleLittle {
    position: absolute;
    width: 40px;
    top: 450px;
    right: 300px;
    transition: all ease-in-out 4000ms;
}

.circleLittle:hover {
    transform: translateY(-140px);
}

.donate{
    width: 180px;
    height: 180px;
    left: -70px;
    position: absolute;
    bottom: -90px;
    transition: all ease-in-out 2000ms;
}

.donate:hover{
    transform: translate(40px, -40px);
}